.Center-Container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sign {
    padding-right: 5px;
}

.margin {
    margin: 10px
}

.padding {
    padding: 10px;
}

.padding-end {
    padding-right: 10px;
}

.padding-start {
    padding-left: 10px;
}

.green_hover :hover {
    color: #006C6D;
    font-size: 20px;
}