.Center-Container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sign {
    padding-right: 5px;
}

.margin {
    margin: 10px
}

.padding {
    padding: 10px;
}

.padding-end {
    padding-right: 10px;
}

.padding-start {
    padding-left: 10px;
}

.green_hover :hover {
    color: #006C6D;
    font-size: 30px;
    padding: 0px;
}

.bg {
    position: relative;
    width: 100%;
    height: 200vh;
    background: url("/images/Site3.svg") no-repeat center center fixed;
    background-size: cover;
    display: block;
}

.imageBriefSize {
    height: 100%
}

.roadButton {
    width: 30px;
    height: 30px;
    background: #fff
}

.moreButton {
    width: 70px;
    height: 30px;
    background: #fff
}